---
// @ts-ignore
import { Icon } from "astro-icon";
import heroImage from "assets/hero.png";
import img1 from "assets/IMG_3678.jpg";
import img2 from "assets/IMG_3681.jpg";
import img3 from "assets/IMG_3682.jpg";
import img4 from "assets/IMG_3684.jpg";
import img5 from "assets/IMG_3679.jpg";
import img6 from "assets/IMG_3693.jpg";
import { Picture } from "@astrojs/image/components";
---

<div class="mt-16 md:mt-0 px-10 bg-black py-8">
  <h2 class="text-3xl text-white lg:text-4xl font-bold lg:tracking-tight">
    Hello there!
  </h2>
  <div
    class="flex flex-col lg:flex-row lg:justify-left lg:justify-between items-start">
    <p class="text-lg mt-4 text-slate-300 sm:w-full lg:w-2/3">
      My name is Zhao Do and I am the current President of the Chess Club at the
      University of the Pacific. I would like to formally welcome you all to our
      new website! We created this website in hopes of better connecting with
      our members and our community. My goal is to manifest the club’s visions
      and ambitions, aiming to spread chess culture to the Stockton community as
      well as beyond that. But on top of that, I want to leave behind a
      resonating impact that ultimately revolves around the development of our
      members on an individual level. Whether this means becoming a greater
      leader in their community or learning to love themselves more, my focus is
      satisfaction and contentment in oneself. <br /><br /> I hope for the UOP Chess
      Club to be an outlet, a place of outreach, and a safe space for people to discover
      their true potential. If you have any questions or ideas, feel free to contact
      me!
      <br /><br />With love, <br />Zhao Do <br /><span>2023-2024 President</span
      >
    </p>
    <Picture
      src={heroImage}
      alt="UOP Chess Club Logo"
      widths={[200, 400, 600]}
      aspectRatio="5:4"
      sizes="(max-width: 800px) 100vw, 400px"
      loading="eager"
      format="avif"
      class="mt-3 lg:mt-0"
    />
  </div>
</div>

<div class="grid md:grid-cols-2">
  <Picture
    src={img1}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    loading="eager"
    format="avif"
    class="w-full"
  />
  <Picture
    src={img2}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    sizes="(max-width: 600px) 100vw, 400px"
    loading="eager"
    format="avif"
    class="w-full"
  />
  <Picture
    src={img3}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    loading="eager"
    format="avif"
    class="w-full"
  />
  <Picture
    src={img4}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    sizes="(max-width: 600px) 100vw, 400px"
    loading="eager"
    format="avif"
    class="w-full"
  />
  <Picture
    src={img5}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    loading="eager"
    format="avif"
    class="w-full"
  />
  <Picture
    src={img6}
    alt="UOP Chess Club Logo"
    widths={[200, 400, 600]}
    aspectRatio="2:1"
    sizes="(max-width: 600px) 100vw, 400px"
    loading="eager"
    format="avif"
    class="w-full"
  />
</div>

<!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 px-10">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
